<!doctype html>





<html lang="en">
<head>
  <meta charset="utf-8">

  <title>OpenFisca eligibility form</title>
  <meta name="description" content="">
  <meta name="author" content="TJ Harrop">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wet-boew/themes-dist@6119fdb364f4af1810523b92e823ae7108aeb0ee/css/theme.min.css">


  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/se/dt-1.10.23/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/se/dt-1.10.23/datatables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/se/dt-1.10.23/datatables.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/jsonpath-plus@5.0.2/dist/index-browser-umd.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/jsonform@2.2.2/deps/underscore.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jsonform@2.2.2/deps/opt/jsv.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jsonform@2.2.2"></script>

  <script src="/assets/js/demo-form.js"></script>
</head>

<body class="nimbus-is-editor">
    <div class="ui active dimmer" id="loading">
      <div class="ui loader"></div>
    </div>

    <header>
    <div id="wb-bnr" class="container">
    <div class="row">

    <div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" resource="#wb-publisher" typeof="GovernmentOrganization">
    <a href="https://www.canada.ca/en.html" property="url"><img src="https://cdn.jsdelivr.net/gh/wet-boew/themes-dist@6119fdb364f4af1810523b92e823ae7108aeb0ee/GCWeb/assets/sig-blk-en.svg" alt="Government of Canada" property="logo"><span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span></a>
    <meta property="name" content="Government of Canada">
    <meta property="areaServed" typeof="Country" content="Canada">
    <link property="logo" href="https://cdn.jsdelivr.net/gh/wet-boew/themes-dist@6119fdb364f4af1810523b92e823ae7108aeb0ee/GCWeb/assets/wmms-blk.svg">
    </div>

    </div>
    </div>
    <nav class="gcweb-menu" typeof="SiteNavigationElement">
    <div class="container">
    <h2 class="wb-inv">Menu</h2>
    <button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
    <ul role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-en.html">
    <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a></li>
    <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
    <li role="presentation"><a role="menuitem" href="https://travel.gc.ca/">Travel and tourism</a></li>
    <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/business.html">Business and industry</a></li>
    <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
    <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/health.html">Health</a></li>
    <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
    <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
    <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
    <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
    <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
    <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
    <li role="presentation"><a role="menuitem" href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
    <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
    <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
    </ul>
    </div>
    </nav>
    </header>
    <main property="mainContentOfPage" resource="#wb-main" class="container" typeof="WebPageElement">


      <div class="">
        {{{ content }}}
      </div>
    </main>
    <footer id="wb-info">
    <div class="landscape">
    <nav class="container wb-navcurr">
    <h2 class="wb-inv">About government</h2>
    <ul class="list-unstyled colcount-sm-2 colcount-md-3">
    <li><a href="https://www.canada.ca/en/contact.html">Contact us</a></li>
    <li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
    <li><a href="https://www.canada.ca/en/government/publicservice.html">Public service and military</a></li>
    <li><a href="https://www.canada.ca/en/news.html">News</a></li>
    <li><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a></li>
    <li><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
    <li><a href="https://pm.gc.ca/eng">Prime Minister</a></li>
    <li><a href="https://www.canada.ca/en/government/system.html">How government works</a></li>
    <li><a href="https://open.canada.ca/en/">Open government</a></li>
    </ul>
    </nav>
    </div>
    <div class="brand">
    <div class="container">
    <div class="row">
    <nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
    <h2 class="wb-inv">About this site</h2>
    <ul>
    <li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
    <li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
    <li><a href="https://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
    <li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
    <li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
    </ul>
    </nav>
    <div class="col-xs-6 visible-sm visible-xs tofpg">
    <a href="#wb-cont">Top of page <span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>
    <div class="col-xs-6 col-md-3 col-lg-2 text-right">
    <img src="https://cdn.jsdelivr.net/gh/wet-boew/themes-dist@6119fdb364f4af1810523b92e823ae7108aeb0ee/GCWeb/assets/wmms-blk.svg" alt="Symbol of the Government of Canada">
    </div>
    </div>
    </div>
    </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/gh/wet-boew/themes-dist@6119fdb364f4af1810523b92e823ae7108aeb0ee/wet-boew/js/wet-boew.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/wet-boew/themes-dist@6119fdb364f4af1810523b92e823ae7108aeb0ee/GCWeb/js/theme.min.js"></script>
</body>
</html>
